/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

#shapePanel {
    margin: 10px;
    margin-top: 70px;
    z-index: 4;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 90px;
    background-color: white;
}

#restoFilter {
    margin: 10px;
    margin-top: 190px;
    z-index: 4;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 110px;
    background-color: white;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
