<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Cebu Restaurants Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1S4bWsp-AkPzq0I16_rZJ89c1AXdNmyE&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/index.js' %}"></script>
  </head>
  <body>
    <div class="panel panel-default" id="shapePanel">
        <div class="panel-heading">Render Area</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9 col-xs-9">Show Area </div>
                <div class="col-md-3 col-xs-3">
                    <div class="material-switch">
                        <input type="checkbox" style="color: transparent" id="areaCheck" name="areacheckBox" onclick="renderCircle();" />
                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="restoFilter">
        <div class="panel-heading">Filter Restaurants by:</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9 col-xs-9">All</div>
                <div class="col-md-3 col-xs-3">
                    <div class="material-switch">
	                    <input type="checkbox" style="color: transparent" id="allRestos" name="allRestos" onclick="getAllRestos();" />
                    </div>
                </div> 
            </div>
            <div class="row">
	            <div class="col-md-9 col-xs-9">Filipino</div>
	            <div class="col-md-3 col-xs-3">
		            <div class="material-switch">
			            <input type="checkbox" style="color: transparent" id="filipinoRestos" name="filipinoRestos" onclick="getFilRestos();" />
		            </div>
	            </div>
            </div>
			<div class="row">
                <div class="col-md-9 col-xs-9">Seafood</div>
				<div class="col-md-3 col-xs-3">
					<div class="material-switch">
						<input type="checkbox" style="color: transparent" id="seafoodRestos" name="seafoodRestos" onclick="getSeafoodRestos();" />
					</div>                    
				</div> 
			</div>
			<div class="row">
				<div class="col-md-9 col-xs-9">Cafes</div>
				<div class="col-md-3 col-xs-3">
					<div class="material-switch">
						<input type="checkbox" style="color: transparent" id="cafes" name="cafes" onclick="getCafes();" />
					</div>                    
				</div> 
			</div>
        </div>
    </div>
    <div id="map"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </body>
</html>
